.conf {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.conf .div {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(206, 44, 107, 0.2) 100%);
  background-color: rgba(255, 255, 255, 1);
  height: 1080px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
  
.conf .overlap-2 {
  background-color: #ffffff;
  border-radius: 30px;
  height: 1104px;
  left: 650px;
  position: absolute;
  top: 37px;
  width: 1500px;
  display: flex; /* Arrange as column */
  flex-direction: column; /* Arrange as column */
  align-items: center; /* Center horizontally */
}
.conf .text-wrapper-24 {
  color: #000000;
  font-family: "SF Pro Display-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 566px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
}
/* Apply properties of overlap-group-wrapper to other divs */
.conf .overlap-group-wrapper,
.conf .overlap-wrapper,
.conf .div-wrapper,
.conf .overlap-3 {
  border-radius: 30px;
  position: relative;
  width: 1305px; /* Adjust width */
  margin-top: 20px; /* Add margin for spacing */
}

.conf .overlap-group-2 {
  background-color: #fff0f6;
  height: 157px;
  display: flex; /* Arrange as row */
  align-items: center; /* Center vertically */
}

.conf .overlap-group-3 {
  position: absolute;
  top: 30px;
  width: 100%;
  display: flex; /* Arrange as row */
  justify-content: space-around; /* Evenly distribute items */
}

.conf .overlap-4 {
  background-color: #fff0f6;
  height: 157px;
  display: flex; /* Arrange as row */
  align-items: center; /* Center vertically */
}

/* Adjust individual text and image positioning */
.conf .text-wrapper-10,
.conf .p,
.conf .text-wrapper-11,
.conf .text-wrapper-12,
.conf .text-wrapper-13,
.conf .checkmark,
.conf .text-wrapper-14,
.conf .text-wrapper-15,
.conf .text-wrapper-16,
.conf .text-wrapper-17,
.conf .text-wrapper-18,
.conf .text-wrapper-19,
.conf .text-wrapper-20,
.conf .text-wrapper-21,
.conf .text-wrapper-22,
.conf .rectangle-2,
.conf .checkmark-2,
.conf .text-wrapper-23 {
  position: relative;
  text-align: center;
}

.conf .text-wrapper-24 {
  font-weight: bold;
}
